@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/theme.css';

html{
  font-size: 62.5%;
}

@layer utilities {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
    @apply ultra:px-[0.5rem] px-[2rem]
  }

  .container {
    display: grid;
    grid-template-areas: 
      "navbar navbar navbar"
      "left-sidebar main-section right-sidebar";
    grid-template-rows: 55px 1fr;
    grid-template-columns: 150px 1fr minmax(200px, 300px);
    height: 100vh;
    gap: 10px;

    overflow: hidden;
  }


.navbar {
  grid-area: navbar;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.main-section {
  grid-area: main-section;
}

.right-sidebar {
  grid-area: right-sidebar;
}

@media (max-width: 1024px) {
  .left-sidebar-icons {
    display: none;
  }

  .container {
    grid-template-columns: 50px 1fr 200px;
  }
}

@media (max-width: 640px) {
  .left-sidebar, .right-sidebar {
    display: none;
  }
  
  .container {
    grid-template-areas: 
      "navbar"
      "main-section";
    grid-template-columns: 1fr;
  }
}
}
